

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Style+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  
  
  /* BODY STYLES */

  .site-color{background-color: rgba(0, 0, 0, 0.805);

  }

  .inter-font {
    font-family: "Inter", serif;
    
    font-weight: 400px;
    font-style: normal;
  }

  /* COMMON STYLES */

  .btn-primary{
   width: 200px;
   height: 55px;
border: none;
    border-radius: 42px;
background: rgb(230, 83, 60);
padding: 7px 10px;
font-size: 1rem;
font-weight: 600;
color: rgb(255, 255, 255);
  }


  /* HEADER SECTION STYLES */ 

  .header{
    
    width: 1200px;
    height: 700px;
    margin-left: 130px;
    margin-right: 120px;
    margin-top: 30px;
    
  }

  navbar{
    display: flex;
    justify-content: space-between;
  }

  .material-symbols-outlined{
    visibility: hidden;
  }


  nav>ul{
    display: flex;
    gap: 40px;
    align-items: center;
  }

  nav>ul>li{
    list-style: none;
   margin-top: 20px;
   padding: 6px;
  }

  .brand-name{
    color: rgb(230, 83, 60);
    font-size: 2.5rem;
    font-weight: 800;
  
  }

  .nav-titles{
    color: rgb(255, 255, 255);

font-size: 1.20rem;
font-weight: 400;
  }

  .home-style{
    border-radius: 50px;
background: rgb(230, 83, 60);
padding: 5px 15px;
  }

  .header-title{
    color: rgb(255, 255, 255);

font-size: 3.5rem;
font-weight: 900;
width: 520px;
height: 200px;
  }

  .style-script-regular {
    font-family: "Style Script", serif;
    font-weight: 200;
   
  }

  .header-description{
    color: rgba(255, 255, 255, 0.5);

font-size: 1rem;
font-weight: 400;
margin-bottom: 30px;
padding-bottom: 15px;
padding-top: 10px;

  }

  .header-box{
    display: flex;
    justify-content: space-between;
  }

  #download-btn{
    width: 200px;
    height: 55px;
 border: 1px solid white;
     border-radius: 42px;
     padding: 7px 10px;
font-size: 1rem;
font-weight: 600;
color: rgb(255, 255, 255);
background-color: black;}


.btn-first{
  margin-left: 260px;
 margin-top: 115px;
  border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 10px;

background: rgba(255, 255, 255, 0.1);
padding: 12px 20px;
width: 200px;

position: absolute;
 
  
}

.btn-text-title{
  color: rgb(255, 255, 255);

font-size: 2.50rem;
font-weight: 900;
}

.btn-sub{
  color: rgba(255, 255, 255, 0.65);

font-size: 0.813rem;
font-weight: 400;
}

.btn-second{

border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 10px;
background: rgba(255, 255, 255, 0.1);
padding: 12px 20px;
width: 220px;
height: 100px;
position: absolute;
margin-left: -570px;
margin-top: 450px ;

}

.circle{
   background-color: rgb(230, 83, 60);
   height: 20px;
   width: 20px;
   border-radius: 50%;
   display: inline-block;
}

.btn-title-sec{
 
font-weight: 800;
font-size: 1.50rem;
color: rgb(250, 250, 249);

}

.btn-sub-sec{
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
  font-weight: 400;
}

.header-image>img{
  width: 410px;
  height: 610px;
 
}



.header-content{
  margin-right: 250px;
}

/* CHANGE YOUR HABITS STYLES */

.change-habit-section{
  margin: 180px 160px;
 
}
 
  .habit-box{
    display: flex;
    justify-content: space-between;
   
    
    

  }

  .section-title{
    color: rgb(255, 255, 255);

font-size: 3rem;
font-weight: 800;
text-align: center;

  }

  .habits-content{
    width: 640px;
    height: 220px;
 margin-left: 250px;
    
  }

  .section-description{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

font-size: 1rem;
font-weight: 400;
text-align: center;
height: 40px;
margin-bottom: 10px;

  }

  .habit-title{
    color: rgba(255, 255, 255, 0.5);

font-size: 1.13rem;
font-weight: 400;

  }

  .habit-cards{
    text-align: center;

   
    
  }

  .habit-description{
    color: rgba(255, 255, 255, 0.5);

font-size: 0.88rem;
font-weight: 400;
width: 200px;


  }

 .habit-cards> img{
    overflow: hidden;
    border-radius: 50%;
  }


  /* RESPONSIVE STYLES FOR MOBILE */

  



  @media screen and (max-width:576px) {
    .header-box{
      flex-direction: column;
    }

    .header{
      width: 393px;
     height: 800px;
     margin: 0 auto;
     
    }

    nav>ul{
      visibility: hidden;
    }

    .material-symbols-outlined{
      visibility: visible;
      color: rgb(255, 255, 255);
      margin-left: 220px;
    }

    nav{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
    }



   
    }
    
  


