

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Style+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  
  
  /* body section */

  .site-color{background-color: rgba(0, 0, 0, 0.805);

  }

  .inter-font {
    font-family: "Inter", serif;
    
    font-weight: 400px;
    font-style: normal;
  }

  /* common styles */

  .btn-primary{
   width: 200px;
   height: 55px;
border: none;
    border-radius: 42px;
background: rgb(230, 83, 60);
padding: 7px 10px;
font-size: 1rem;
font-weight: 600;
color: rgb(255, 255, 255);
  }


  /* header section styles */ 

  .header{
    
    width: 1200px;
    height: 700px;
    margin-left: 130px;
    margin-right: 120px;
    margin-top: 30px;
    
  }

  navbar{
    display: flex;
    justify-content: space-between;
  }


  nav>ul{
    display: flex;
    gap: 40px;
    align-items: center;
  }

  nav>ul>li{
    list-style: none;
   margin-top: 20px;
   padding: 6px;
  }

  .brand-name{
    color: rgb(230, 83, 60);
    font-size: 2.5rem;
    font-weight: 800;
  
  }

  .nav-titles{
    color: rgb(255, 255, 255);

font-size: 1.20rem;
font-weight: 400;
  }

  .home-style{
    border-radius: 50px;
background: rgb(230, 83, 60);
padding: 5px 15px;
  }

  .header-title{
    color: rgb(255, 255, 255);

font-size: 3.5rem;
font-weight: 900;
width: 520px;
height: 200px;
  }

  .style-script-regular {
    font-family: "Style Script", serif;
    font-weight: 200;
   
  }

  .header-description{
    color: rgba(255, 255, 255, 0.5);

font-size: 1rem;
font-weight: 400;
margin-bottom: 30px;
padding-bottom: 15px;
padding-top: 10px;

  }

  .header-box{
    display: flex;
    justify-content: space-between;
  }

  #download-btn{
    width: 200px;
    height: 55px;
 border: 1px solid white;
     border-radius: 42px;
     padding: 7px 10px;
font-size: 1rem;
font-weight: 600;
color: rgb(255, 255, 255);
background-color: black;
  }
  